<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:if="${name}" th:text="'Hello, ' + ${name} + '!'"/></p>
    <p th:if="${name}" th:text="${name} + ' I hope you interested to hire me.'"/></p>
    <p th:if="!${name}">This is my CV</p>
    <br/>
    <h2>Profile</h2>
    <p>Name     : Nathaniel Nicholas</p>
    <p>Birth    : Jakarta, October 19th 1998</p>
    <p>Address  : Jl. Pegangsaan Indah Barat I B. 96, North Jakarta 14250</p>
    <br/>
    <p>I'm an energetic and motivated undergraduate student at University of Indonesia in The Faculty of Computer Science looking for a chance to start a career. Granted I don't have any experience in a working environment and my skills are minimum at best but I'm willing to put in time and effort to learn anything to improve myself.</p>
    <br/>
    <h2>Education</h2>
    <p>2016 - present : University of Indonesia</p>
    <p>2013 - 2016 : SMA Santo Yakobus Kelapa Gading</p>
    <p>2010 - 2013 : SMP Santo Yakobus Kelapa Gading</p>
    <p>2004 - 2010 : SD Santo Fransiskus Kampung Ambon</p>
</body>
</html>
